.moreEvents {
    img {
        display:block;  
        padding-bottom:15px;
        width: 266px;
    }
    .date,
    .meta,
    .location {
        display: block;
        padding-right: 0;
    }
}