// 
//  Events
//  ---------------------------------

// Row clear

.row-clear {
  clear:both;
}


// Columns

.column33 {
    width: 30%;
}
.column50 {
    width: 47%;
}
.column66 {
    width: 65%;
}

// Spacing

.spacer30 {
  width: 30px;
}
.spacer15 {
  width: 15px;
}
.spacer33 {
    width: 5%;
}
.spacer50 {
    width: 6%;
}