// Main styles go here!
body,
#backgroundTable {
  background: $base-background;
}
.default {
  font-family: $base-font;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  font-size: floor($font-size-base*.7);
  color: $meta-color;
}
.innerContent,
#preheader,
#header,
#footer {
  margin:0;
  margin:0 auto;
  padding: 0;
  width: 600px;
  td {
    font-family: $base-font;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
  }
}
#header,
#preheader,
#footer {
  background: $base-background;
  td {
    font-size: floor($font-size-base*.7);
    color: $meta-color;
  }
}
#preheader,
#footer{
  text-align: center;
  td {
    line-height: 1.63;
    font-weight:400;
  }
}
.viewweb {
    text-align: right;
    color: $meta-color;
    text-decoration: underline;
    display: inline-block;
    padding-top:13px;
    padding-right:10px;
}
#footer .contact {
  font-weight: bold;
  padding-top:15px;
  padding-bottom:15px;
}
.block {
  background: $content-background;
  td {
    font-size: $font-size-base;
    color: $text-color;
  }
}

.innerContent {
  border:1px solid $base-border;
}
.innerContent .note {
  background:$aside-background;
  border:1px solid darken($aside-background, 10%);
  &, td {
    font-size:floor($font-size-base*.9);
    line-height:floor($line-height-base*.95);
  }
}
.note-title {
  display: block;
  color:$text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  padding-bottom:10px;
}

/* Base Content Styles */
ul {
  margin:0;
  padding-bottom:($line-height-computed - 7);
}
small   { 
  color: lighten($text-color, 20%);
  font-size: 85%; 
}

.logo {
  display: inline;
  display: inline-block;
  padding-top:5px;
  padding-bottom:20px;
  padding-left:10px;
}

.subheader {
  text-align: center;
  font-size:16px;
  line-height:18px;
  a, & {
    color: $meta-color;
  }
}
.title, .title-lg, .title-sm {
  
  &, a {
    display: block;
  }
}
.title-lg,
.title-sm {
  font-weight: 200;
  padding-bottom: 7px;
}
.subtitle,
.title {
  font-size: floor($font-size-base * 1.2);
  font-weight: $font-weight-base;
}
.title {
  padding-top:7px;
  padding-bottom:3px;
  &:first-child {
      padding-top:0;
  }
}
.title-lg {
  font-size: floor($font-size-base * 1.7);
  line-height: $line-height-large;
  padding-top: 10px;
}

.title-sm {
  font-size: $font-size-base;
  padding-top:7px;
}
.subtitle {
  line-height:1.3;
  color:lighten($text-color,15%);
  padding-top:0;
}

.date,
.meta,
.location {
  font-size:floor($font-size-base * .95);
  display: inline-block;
  padding-bottom: 0;
  padding-right:60px;
  + .title {
    padding-top:3px;
    padding-bottom:15px;
  }
}
.date {
  font-weight: bold;
}
.lead {
  font-size: ceil($font-size-base * 1.5)
}
.meta {
    padding-top:12px;
    padding-bottom:12px;
}
.more {
  display: block;
  font-size:floor($font-size-base*.95);
  font-weight: bold;
  padding-top: 10px;
}
.page-header {
  padding-bottom:10px;
  font-size:floor($font-size-base*1.2);
  font-weight:bold;
  color:$heading-color;
  border-bottom:1px solid lighten($heading-color, 40%);
}
.textlink {
  color:$text-color;
}
.section-header {
  background-color:#5b6f7b;
  color:$btn-color;
  display: inline;
  display: inline-block;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:30px;
  padding-right:25px;
  font-size:floor($font-size-base*.95);
  a {
    color:$btn-color;        
  }
}
.caption {
  color:$aside-color;
  display: inline-block;
  font-size:floor($font-size-base / 1.2);
}
.caption-img {
  display: block;
  padding-bottom:5px;
}
.color-block {
  &, a, .section-header, .textlink, .page-header, .title, .title-lg, .title-sm, .subtitle, td {
    color:#ffffff;
  }
  .date,
  .meta {
    color:#f2f2ef
  }
  a {
    display: block;
  }
  .btn {
    display: inline-block;
  }
}


.row-clear {
  clear:both;
}
.column-headlines {
  width: 379px;
}
.column66 {
  width: 349px;
}
.column50 {
  width: 250px;
}
.column33 {
  width: 160px;
}
.column-sidebar {
  width: 189px;
}
.spacer50 {
  width: 38px;
}
.spacer33 {
  width: 29px;
}
.spacer30 {
  width: 30px;
}
.spacer15 {
  width: 15px;
}
.padless {
  &.column66 {
    width: 389px;
  }
  &.column50 {
    width: 280px;
  }
  &.column33 {
    width: 180px;
  }
}
.spaceless {
  &.column66 {
    width: 359px;
  }
  &.column60 {
    width: 322px;
  }
  &.column50 {
    width: 269px;
  }
  &.column40 {
    width: 216px;
  }
  &.column33 {
    width: 179px;
  }
}

.spaceless.padless {
  &.column66 {
    width: 399px;
  }
  &.column60 {
    width: 358px;
  }
  &.column50 {
    width: 299px;
  }
  &.column40 {
    width: 240px;
  }
  &.column33 {
    width: 199px;
  }
}


.sidebar-header {
  font-weight: bold;
  padding-top:4px;
  padding-bottom:20px;
  a {
    color:$text-color;
  }
}
.sidebar-items {
  padding-bottom:20px;
}
.sidebar-item,
.sidebar-more {
  display: block;
  padding-bottom:30px;
  font-size:$font-size-base - 2;
  a {
    color:$text-color;
  }
  .title,
  .title-sm {
    color:$link-color;
  }
  ul {
    padding-left:15px;
    margin:0;
  }
  li {
    &:last-child {
      padding-bottom:0;
    }
  }
}

.well {
  background:$aside-background;
  border:1px solid darken($aside-background, 10%);
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
}
.well-btn {
  display: block;
  width: auto;
  padding-left:15px;
  padding-right:15px;
}
.side-column {
  color:$aside-color;
  font-size:floor($font-size-base / 1.15);
}
.side-title {
  color: $heading-color;
  font-size:$font-size-base;
  font-weight:bold;
  padding-bottom:7px;
}
.more-news,
.events {
  padding-left:30px;
  padding-bottom:25px;
  margin:0;
  span {
    color:$text-color;
  }
}
.news-item,
.event-item,
.more-news li,
.events li {
  list-style: none;
  padding-bottom:15px;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  &:last-child {
    padding-bottom:0;
  }
  
}
.ad-space {
  background-color: darken($base-background, 7%);
  width: 100%;
  padding-top:10px;
  padding-bottom:10px;
  color:$text-color;
  text-align: center;
  a {
    color:$text-color;
    display: block;
  }
}
.highlight,
a.highlight {
  color:$link-color;
  font-weight: bold;
  display: block;
  padding-top:5px;
}
.sponsor {
  font-size:floor($font-size-base / 1.15);
  color: lighten($text-color, 10%);
  font-style: italic;
}
.break {
  border-top:4px solid #333;
}

.innerContent .footer-nav {
  width: 100%;
  background-color:$footer-nav-background;
  border-color:$footer-nav-background;
  color:$footer-nav-color;
  border:0;
  td {
    font-size:floor($font-size-base * .9);
    text-align: center;
  }
  a {
    color:$footer-nav-link-color;
    display: block;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
  }
}
.label {
  font-size:ceil($font-size-base*.75);
  font-weight:bold;
  padding-top:3px;
  padding-bottom:3px;
  display: inline-block;
  + .title {
    padding-top:0;
  }
}
.register {
  padding-top:15px;
}
.btn {
  display:inline-block;
  text-align: center;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:30px;
  padding-right:30px;
  background:$btn-background;
  color:$btn-color;
  border:1px solid darken($btn-background, 10%);
}
.btn-lg {
  font-size:floor($font-size-base * 1.25);
  padding-top:12px;
  padding-bottom:12px;
  padding-left:40px;
  padding-right:40px;
}
.btn-sm {
  font-size:floor($font-size-base * 0.9);
  padding-top:5px;
  padding-bottom:5px;
  padding-left:25px;
  padding-right:25px;
  
}
.btn-secondary,
.color-block .btn {
  background:$btn-secondary-background;
  border:1px solid darken($btn-secondary-background, 10%);
  color: $btn-secondary-color;
}
