/***************************************************
****************************************************
MOBILE TARGETING
****************************************************
***************************************************/
@media only screen and (max-width: 599px) {
  body[yahoo] {
    a {
      &[href^="tel"],
      &[href^="sms"] {
        text-decoration: none !important;
        color: inherit !important;
        cursor: default !important;
      }
    }
    .date a,
    .mobile-text a{
      text-decoration: none !important;
      color: inherit !important;
      cursor: default !important;
    }
    
    .mobile-link a {
      &[href^="tel"],
      &[href^="sms"] {
        text-decoration: none !important;
        color: $link-color !important;
        pointer-events: auto !important;
        cursor: default !important;
      }
    }
    #footer td a {
      color: lighten($text-color, 25%) !important;
      text-decoration: none !important;
    }
    img {
      max-width:100% !important;
      height:auto !important;
    }
    table {
      height:auto;
    }
    #header,
    #preheader,
    #footer,
    .innerContent,
    .innerContent table {
      width:100% !important;
    }
    .innerContent {
      border-width:0 0 1px 0 !important;
      
      .padless {
          padding: 0 !important;
      }
    }
    #preheader,
    #footer {
      td {
        padding-left:15px;
        padding-right:15px;
      }
    }
    .innerContent {
        .column33 {
            width: 30% !important;
        }
        .column50 {
            width: 47% !important;
        }
        .column66 {
            width: 65% !important;
        }
        .spacer33 {
            width: 5% !important;
        }
        .spacer50 {
            width: 6% !important;
        }
    }
    .row-clear {
      height:0 !important;
    }
    .ads .row-clear {
      height:50px !important;
    }
    .section-header {
      padding-left:15px !important;
    }
    .well {
      border-left: none;
      border-right: none;
      margin-bottom:15px;
      margin-left:-15px;
      margin-right:-15px;
    }
    .title {
      font-weight: floor($font-size-base * 1.3);
    }
    .more {
      font-size: $font-size-base;
      padding-left:0 !important;
      padding-right:0 !important;
    }
    .more-news,
    .events {
      padding-left:15px !important;
    }
    .sidebar-items {
      padding-bottom:25px !important;
    }
    .sidebar-item,
    .sidebar-header,
    .sidebar-more {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding-left:15px;
      padding-bottom:15px;
      padding-top:0;
    }
    .sidebar-item {
      float:left;
      max-width: 50% !important;
      vertical-align: top;
    }
    .sidebar-item:nth-of-type(3n+1),
    .sidebar-header,
    .sidebar-more {
      clear:both;
    }
    .footer-nav,
    .column-sidebar,
    .mobile-full {
      colgroup {
        display: none;
      }
      tbody,
      tr,
      td {
        display: block !important;
        width: 100% !important;
      }
    }
  }
}
@media only screen and (max-width: 479px) {
  body[yahoo] {
    &, 
    #backgroundTable,
    #header,
    #preheader,
    #footer {
      background: #ffffff !important;
    }
    .innerContent {
      colgroup {
        display: none;
      }
      tbody,
      tr,
      td {
        display: block !important;
        width: 100% !important;
        box-sizing: border-box;
      }
    }
    .block {
      border-width: 0 !important;
      margin-bottom: 40px !important;
      
      td {
        padding-left: 15px;
        padding-right: 15px;
          
        &[colspan="3"] {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .moreEvents {
      img {
        width: 100% !important;
        padding-bottom:15px !important;
      }
      .btn-sm {
        padding-top:7px !important;
        padding-bottom:7px !important;
        padding-left:30px !important;
        padding-right:30px !important;
        font-size: $font-size-base !important;
      }
    }
    .subheader {
      display: block !important;
      padding-top: 0px !important;
      padding-bottom: 16px !important;
      text-align: left !important;
      clear:both;
    }
    .gutter {
      height:0 !important;
      display: none !important;
    }
    .date,
    .meta,
    .location {
      display: block !important;
      padding-right: 0 !important;
    }
    .spacer,
    .spacer50,
    .spacer33 {
      display: none !important;
    }
    .innerContent {
      .column33, .column50, .column66 {
        width: 100% !important;
      }
    }
    td[width="30"],
    .spacer30 {
      width:15px !important;
    }
  }
}
