/***************************************************
****************************************************
MOBILE TARGETING
****************************************************
***************************************************/
@media only screen and (max-width: 600px) {
  body[yahoo] {
    a {
      &[href^="tel"],
      &[href^="sms"] {
        text-decoration: none !important;
        color: inherit !important;
        cursor: default !important;
      }
    }
    .date a,
    .mobile-text a{
      text-decoration: none !important;
      color: inherit !important;
      cursor: default !important;
    }
    
    .mobile-link a {
      &[href^="tel"],
      &[href^="sms"] {
        text-decoration: none !important;
        color: $link-color !important;
        pointer-events: auto !important;
        cursor: default !important;
      }
    }
    #footer td a {
      color: lighten($text-color, 25%) !important;
      text-decoration: none !important;
    }
    img {
      max-width:100% !important;
      height:auto !important;
    }
    table {
      height:auto;
    }
    #header,
    #preheader,
    #footer,
    .innerContent,
    .innerContent table {
      width:100% !important;
    }
    .innerContent {
      border-width:0 0 1px 0 !important;
    }
    #header,
    #preheader,
    #footer {
      td {
        padding-left:15px;
        padding-right:15px;
      }
    }
    .column33 {
        width: 30%;
    }
    .column50 {
        width: 33%;
    }
    .column66 {
        width: 63%;
    }
    .spacer33 {
        width: 6%;
    }
    .column33,
    .column50,
    .column66 {
      img {
        float: left !important;
        width: 30%;
        min-width: 120px !important;
        height: auto !important;
        padding-right:20px;
        padding-bottom:10px;
      }
      .title {
        padding-top:0 !important;
      }
      .more {
        display: inline-block;
      }
    }
    .row-clear {
      height:0 !important;
    }
    .ads .row-clear {
      height:50px !important;
    }
    .logo {
      padding-left:0 !important;
      padding-bottom:15px !important;
    }
    .subheader {
      display: block !important;
      padding-top:3px !important;
      padding-bottom:25px !important;
      padding-right:0;
    }
    .section-header {
      padding-left:15px !important;
    }
    .well {
      border-left: none;
      border-right: none;
      margin-bottom:15px;
      margin-left:-15px;
      margin-right:-15px;
    }
    .title {
      font-weight: floor($font-size-base * 1.3);
    }
    .more {
      font-size: $font-size-base;
      padding-left:0 !important;
      padding-right:0 !important;
    }
    .more-news,
    .events {
      padding-left:15px !important;
    }
    .sidebar-items {
      padding-bottom:25px !important;
    }
    .sidebar-item,
    .sidebar-header,
    .sidebar-more {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding-left:15px;
      padding-bottom:15px;
      padding-top:0;
    }
    .sidebar-item {
      float:left;
      max-width: 50% !important;
      vertical-align: top;
    }
    .sidebar-item:nth-of-type(3n+1),
    .sidebar-header,
    .sidebar-more {
      clear:both;
    }
    .footer-nav,
    .column-sidebar,
    .mobile-full {
      colgroup {
        display: none;
      }
      tbody,
      tr,
      td {
        display: block !important;
        width: 100% !important;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  body[yahoo] {
    .innerContent {
        colgroup {
            display: none;
        }
        tbody,
        tr,
        td {
            display: block !important;
            width: 100% !important;
            box-sizing: border-box;
        }
        td {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .moreEvents {
        img {
            width: 100%;
            padding-bottom:15px;
        }
        .btn-sm {
            padding-top:7px;
            padding-bottom:7px;
            padding-left:30px;
            padding-right:30px;
            font-size: $font-size-base;
        }
    }
    .spacer,
    .spacer50,
    .spacer33 {
      display: none !important;
    }
    td[width="30"],
    .spacer30 {
      width:15px !important;
    }
  }
}
@media only screen and (max-width: 375px) {
  body[yahoo] {
    .column33,
    .column50 {
      img {
        float: none !important;
        width: auto;
        max-width: 100%;
        min-width: 0 !important;
      }
    }
  }
}
@media only screen and (min-width: 358px) {
  body[yahoo] {
    .column60, .column66 {
      img {
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
}

