// 
//  Scaffolding 
//  ---------------------------------

// Links

a {
  text-decoration: none;
  color: $link-color;
}

.textlink {
  color:$text-color;
}


// Image defaults

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border:none;
  
  a & {
    border: none;
  }
}

.img_fix {
  display: block;
}


// Paragraphs

p {
  padding-top: 0;
  padding-bottom: 1.2em;
  padding-left: 0;
  padding-right: 0;
  margin:0;
  
  &:last-child {
      padding-bottom: 0;
  }
}


// Basic layout

body,
#backgroundTable {
  background: $base-background;
}

.default {
  font-family: $base-font;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  font-size: floor($font-size-base*.7);
  color: $meta-color;
}

.innerContent,
#preheader,
#header,
#footer {
  margin:0;
  margin:0 auto;
  padding: 0;
  width: 600px;
  td {
    font-family: $base-font;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
  }
}

#header,
#preheader,
#footer {
  background: $base-background;
  td {
    font-size: floor($font-size-base*.7);
    color: $meta-color;
  }
}

#preheader,
#footer{
  text-align: center;
  td {
    line-height: 1.63;
    font-weight:400;
  }
  a {
    color: $meta-color;
  }
}